@model SocialNet.Models.SearchViewModel;


<div class="block-reg background-white">

    @if (Model.UserList.Count != 0)
    {

        @foreach (var user in @Model.UserList)
        {
            <div>
                <label>@user.GetFullName()</label>
                @if (!@user.IsFriendWithCurrent)
                {
                    <form asp-controller="User" asp-action="AddFriend" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Добавить в друзья
                        </button>
                    </form>
                }
            </div>
        }
    }
    else
    {
        <div>
            <label> Поиск не дал результатов.</label>
        </div>
    }


</div>
<div class="righ-align">
    <form asp-area="" asp-controller="User" asp-action="UserList">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Поиск" name="search">
    </form>
</div>